{
    "server_name": "My Server",    
    "containers": [
    {"label":"NPM","name":"NginxProxyManager"}
    
    ],
    "http_endpoints": [
    {"label": "My Website", "url": "https://mywebsite.com/health"}
    ]
}
